.zmp-markdown-editor {
	display: flex;
	flex-direction: column;
}

@media (min-width:700px) {
	.zmp-markdown-editor {
		flex-direction: row;
	}
}

.zmp-markdown-editor__textarea {
	height: 40vh;
}

@media (max-width:699px) {
	.zmp-markdown-editor__textarea {
		width: 100%;
	}
}

@media (min-width:700px) {
	.zmp-markdown-editor__textarea {
		height: calc(100vh - 40px - 50px); /* 40px comes from body top margin. */
		width: 50%;
	}
}