/*
Nunito font
https://github.com/vernnobile/NunitoFont
© 2014 Vernon Adams (vern@newtypography.co.uk).
Released under the SIL Open Font License, Version 1.1. See nunito-license.txt
*/
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./assets/fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./assets/fonts/Nunito-Bold.ttf') format('opentype');
}

.zmp {
	background-color: #fff;
	box-sizing: border-box;
	padding: 10px;
	font-family: 'Nunito', sans-serif;
}

.zmp * {
	box-sizing: border-box;
}

.zmp a {
	color: inherit;
	text-decoration: underline;
}

.zmp a:hover {
	color: #00a;
}

.zmp h1 {
	font-size: 1.6em;
	margin-top: 0;
	margin-bottom: 0.3em;
}