.zmp-markdown-preview {
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: initial; /* Override general app styles since "all: revert" can't be used. */
}

@media (min-width:700px) {
	.zmp-markdown-preview {
		height: calc(100vh - 40px - 50px); /* 40px comes from body top margin. */
		width: 50%;
		overflow-y: auto;
	}
}

.zmp-markdown-preview * {
	all: revert; /* This doesn't have any browser support yet. */
}